<!DOCTYPE html>
<html>

<head>
  <title>AutoSEI</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
  <script type="text/javascript" src="/eel.js"></script>
  </script>

<body>
  <div id="app" style="display: none;">
    <v-app>
      <v-main>
        <v-container fill-height fluid style="background-color: #f8f8f8;">

          <!-- MENU SUPERIOR -->
          <transition name="list">
            <v-app-bar v-if="menu" height="45" absolute top tile flat>
              <v-spacer></v-spacer>
              <v-speed-dial v-model="fab2" direction="bottom" transition="scroll-x-reverse-transition">
                <template v-slot:activator>
                  <v-btn v-model="fab2" text>
                    <v-icon color="#762051" left v-if="fab2">
                      mdi-close
                    </v-icon>
                    <v-icon color="#762051" left v-else>
                      mdi-database
                    </v-icon>
                    {{bancoselecionado}}
                  </v-btn>
                </template>
                <v-tooltip left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" fab dark color="#762051" @click="dialogbanco = true">
                      <v-icon>mdi-database-refresh</v-icon>
                    </v-btn>
                  </template>
                  <span>Selecionar banco</span>
                </v-tooltip>
                <v-tooltip left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" fab dark color="#762051" @click="formulariobanco = true">
                      <v-icon>mdi-database-plus</v-icon>
                    </v-btn>
                  </template>
                  <span>Criar banco</span>
                </v-tooltip>

              </v-speed-dial>
              <v-btn text @click="dialogconfiguracoes = true">
                <v-icon color="#762051">mdi-dots-vertical</v-icon>
              </v-btn>
            </v-app-bar>
          </transition>
          <!-- MENU SUPERIOR -->

          <!-- CONFIGURACOES -->
          <v-dialog v-model="dialogconfiguracoes" overlay-color="#762051" overlay-opacity="0.25" persistent
            max-width="600px">
            <v-card>

              <v-toolbar flat color="#762051" dark>
                <v-icon left>mdi-dots-vertical</v-icon>
                <b style="color: white;" id="titulo">Configurações para inserção</b>
              </v-toolbar>

              <v-card-text>
                <v-container>
                  <v-row>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field prepend-inner-icon="mdi-web" label="Site" v-model="camposconfiguracao.site"
                        disabled>
                      </v-text-field>
                    </v-col>

                    <v-col cols="12" sm="12" md="12">
                      <v-text-field prepend-inner-icon="mdi-web" label="url de consulta conteudo" disabled
                        v-model="camposconfiguracao.url_conteudo" persistent-hint></v-text-field>
                    </v-col>

                    <v-col cols="6" sm="6" md="6">
                      <v-text-field prepend-inner-icon="mdi-account-circle-outline" label="Usuario do SEI"
                        :disabled="disabled" v-model="camposconfiguracao.usuario" required>
                      </v-text-field>
                    </v-col>

                    <v-col cols="6" sm="6" md="6">
                      <v-text-field prepend-inner-icon="mdi-lock-outline" number label="Senha do SEI"
                        :disabled="disabled" v-model="camposconfiguracao.senha" required>
                      </v-text-field>
                    </v-col>

                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#762051" text @click="dialogconfiguracoes = false">
                  Fechar
                </v-btn>
                <v-btn v-if="listaconfiguracoescadastradas.length == 0" color="#762051" text
                  @click="inserirconfiguracoes()">
                  Salvar
                </v-btn>
                <v-btn v-else color="#762051" text @click="removerconfiguracoes()">
                  remover configuração
                </v-btn>
              </v-card-actions>
              <!-- {{mensagemDisciplina}} -->
            </v-card>
          </v-dialog>
          <!-- CONFIGURACOES -->

          <!-- FORMULARIO DE CADASTRO DO BANCO -->
          <v-dialog light v-model="formulariobanco" overlay-color="#762051" overlay-opacity="0.25" persistent
            width="500px">
            <v-card>
              <v-toolbar flat>
                <v-text-field v-model="nomebanco" light append-icon="mdi-database" filled color="#762051"
                  placeholder="DIGITE O NOME DO BANCO" clearable hide-details loading="#762051" flat
                  class="text-h6 pa-0" @keyup.enter="salvarbanco()"></v-text-field dark>
              </v-toolbar>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#762051" text @click="formulariobanco = false">
                  Fechar
                </v-btn>
                <v-btn color="#762051" text @click="salvarbanco()">
                  Salvar
                </v-btn>
              </v-card-actions>
              <!-- {{mensagemDisciplina}} -->
            </v-card>
          </v-dialog>
          <!-- FORMULARIO DE CADASTRO DO BANCO -->

          <!-- SELECIONAR BANCO DE DADOS -->
          <v-dialog v-if="bancos.length > 0" v-model="dialogbanco" persistent overlay-opacity="0">
            <v-card max-height="400" dense class="d-flex flex-column" justify="center" align="center">

              <v-banner outlined="false" color="white" app>
                <h6 class="text-h6" id="titulo"><b style="color:#762051;">Selecione o banco</b></h6>
              </v-banner>

              <v-card tile flat class="d-flex flex-wrap justify-center flex my-2">
                <v-card @click="carregarbanco(banco)" width="200" style="cursor: pointer;"
                  class="d-flex justify-center ma-5" v-for="banco in bancos" ripple>
                  <v-card-title>
                    <v-icon left color="#762051">mdi-database</v-icon>
                    {{banco}}
                  </v-card-title>
                </v-card>
              </v-card>

            </v-card>
          </v-dialog>
          <!-- SELECIONAR BANCO DE DADOS -->


          <!-- ALERTA -->

          <v-snackbar v-model="alert.on" :color="alert.color">
            <v-icon left>{{alert.type}}</v-icon>
            {{alert.message}}
            <template v-slot:action="{ attrs }">
              <v-btn text v-bind="attrs" fab small @click="alert.on = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </template>
          </v-snackbar>

          <!-- ALERTA -->

          <!-- RELATORIO FINAL -->
          <v-dialog overlay-color="#762051" overlay-opacity="0.25" v-model="dialogRelatorio" persistent max-width="500">
            <v-card color="white" max-height="600" style="overflow: auto;" class="pa-4">

              <v-toolbar app flat tile>
                <v-icon large left color="#762051">mdi-check-bold</v-icon>
                <b style="color: #762051;" id="titulo">Inserção finalizada com sucesso</b>
              </v-toolbar>
              <v-card-text>
                <v-list v-for="dadosr in dadosrelatorio">
                  <v-subheader>Relatório</v-subheader>
                  <v-list-item-group v-model="selectedItem" color="primary">
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-format-list-text</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Disciplina(s)
                          processadas: <b style="color: #762051;">{{dadosr.totaldisciplinas}}</b></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-animation-play-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Video(s) processados: <b style="color: #762051;">{{dadosr.totalvideos}}</b>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-format-list-checks</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Disciplina(s)
                          inseridas: <b style="color: #762051;">{{dadosr.totalDinseridas}}</b></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-video-off-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Disciplina(s) sem videos: <b style="color: #762051;">{{dadosr.faltam}}</b>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-clock-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title><b style="color: #762051;">{{dadosr.tempo}}</b></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#762051" text @click="fecharRelatorio()">
                  Ok
                </v-btn>
              </v-card-actions>

            </v-card>
          </v-dialog>
          <!-- RELATORIO FINAL -->


          <!-- CONTEUDO -->
          <v-row align="center" justify="center" fluid fill-height>
            <v-col cols=10 align="center">

              <!-- LOGOTIPO -->
              <transition name="list">
                <v-banner outlined="false" style="z-index: 100;" app single-line color="transparent" v-if="titulo">
                  <h1 class="text-h2" id="titulo"><b style="color: #762051;">AUTO</b>SEI </h1>
                </v-banner>
              </transition>
              <br>
              <!-- LOGOTIPO -->

              <!-- TIME LINE -->
              <transition name="list">
                <v-timeline v-if="timeline">
                  <transition-group name="list">
                    <v-timeline-item v-for="logDisciplina in logDisciplinas" :key="logDisciplina.codigo" small>
                      <template v-slot:icon>
                        <v-avatar v-if="logDisciplina.video == true" color="#762051">
                          <v-icon dark>mdi-video-outline</v-icon>
                        </v-avatar>
                        <v-avatar v-else color="error">
                          <v-icon dark>mdi-video-off-outline</v-icon>
                        </v-avatar>
                      </template>
                      <template v-slot:opposite>
                        <span>{{logDisciplina.nome}}</span>
                      </template>
                      <v-card class="elevation-2">

                        <v-card-title class="headline">
                          {{logDisciplina.disciplina}}
                        </v-card-title>

                        <v-card-text>

                          <v-list dense>

                            <v-subheader>
                              <transition name="list">
                                <div v-for="semana in semanainserida" :key="semana.codigo"
                                  v-if="semana.codigo == logDisciplina.codigo">
                                  <template v-if="semana.inserida == true">
                                    SEMANA JÁ INSERIDA
                                  </template>
                                  <template v-else-if="semana.inserida == false && logDisciplina.video == true">
                                    INSERINDO VIDEOS
                                  </template>
                                </div>

                                <div v-if="logDisciplina.video == false">
                                  VIDEOS INDISPONIVEIS
                                </div>
                              </transition>
                            </v-subheader>


                            <transition-group name="list">
                              <v-list-item-group v-for="logVideo in logVideos" :key="logVideo" color="primary">
                                <v-list-item v-if="logVideo.codigo == logDisciplina.codigo">
                                  <v-list-item-icon>
                                    <v-icon color="success">mdi-video-check</v-icon>
                                  </v-list-item-icon>
                                  <v-list-item-content class="text-left">
                                    <v-list-item-title>{{logVideo.titulo}}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                              </v-list-item-group>
                            </transition-group>
                          </v-list>

                        </v-card-text>
                      </v-card>
                    </v-timeline-item>
                  </transition-group>
                </v-timeline>
              </transition>
              <!-- TIME LINE -->



              <!-- <template>
                <v-timeline>
                  <v-timeline-item v-for="n in 4" :key="n" small>
                    <template v-slot:icon>
                      <v-avatar color="error">
                        <v-icon dark>mdi-video-outline</v-icon>
                      </v-avatar>
                    </template>
                    <template v-slot:opposite>
                      <span>Tus eu perfecto</span>
                    </template>
                    <v-card class="elevation-2">
                      <v-card-title class="headline">
                        Lorem ipsum
                      </v-card-title>
                      <v-card-text>

                        <v-list dense>
                          <v-subheader>VIDEOS</v-subheader>
                          <v-list-item-group color="primary">
                            <v-list-item>
                              <v-list-item-icon>
                                <v-icon color="success">mdi-video-check</v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left">
                                <v-list-item-title>teste</v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                              <v-list-item-icon>
                                <v-icon color="success">mdi-video-check</v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left">
                                <v-list-item-title>teste</v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                      </v-card-text>
                    </v-card>
                  </v-timeline-item>
                </v-timeline>
              </template> -->

            </v-col>
          </v-row>
          <!-- CONTEUDO -->


          <!-- FORMULARIO DE CADASTRO DE DISCIPLINA-->

          <template>
            <v-row justify="center">
              <v-dialog v-model="formularioinsercao" overlay-color="#762051" overlay-opacity="0.25" persistent
                max-width="600px">
                <v-card>

                  <v-toolbar flat color="#762051" dark>
                    <v-combobox append-icon="mdi-file-plus" v-model="tabeladisciplina" filled color="#762051" dark
                      placeholder="DIGITE O NOME DA TABELA" clearable hide-details loading="#f8f8f8" flat
                      :items="tabelas" class="text-h6 pa-0"></v-combobox>
                  </v-toolbar>

                  <v-card-text>
                    <v-container>
                      <v-row>

                        <v-col cols="12" sm="12" md="12">
                          <v-text-field prepend-inner-icon="mdi-file-document-edit-outline" label="Nome disciplina"
                            color="#762051" v-model="camposDisciplina.nome_disciplina" required>
                          </v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                          <v-text-field prepend-inner-icon="mdi-file-key-outline" type="number" color="#762051"
                            label="Código disciplina" v-model="camposDisciplina.codigo_disciplina" required>
                          </v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                          <v-text-field prepend-inner-icon="mdi-file-key-outline" type="number" color="#762051"
                            label="Codigo de conteudo" hint="Este codigo é importante, nao erre!"
                            v-model="camposDisciplina.codigo_conteudo" persistent-hint required></v-text-field>
                        </v-col>

                        <v-col cols="12">
                          <v-text-field prepend-inner-icon="mdi-file-account-outline" number label="Nome do professor"
                            color="#762051" v-model="camposDisciplina.professor" required>
                          </v-text-field>
                        </v-col>

                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#762051" text @click="formularioinsercao = false">
                      Fechar
                    </v-btn>
                    <v-btn color="#762051" text @click="inserirdisciplinas()">
                      Salvar
                    </v-btn>
                  </v-card-actions>
                  <!-- {{mensagemDisciplina}} -->
                </v-card>
              </v-dialog>
            </v-row>
          </template>
          <!-- FORMULARIO -->


          <!-- LISTA DE DISCIPLINAS -->
          <v-dialog v-model="dialoglistadisciplinas" fullscreen hide-overlay transition="dialog-bottom-transition">

            <v-card color="#f8f8f8">

              <v-toolbar dark color="#762051">
                <v-btn icon dark @click="limparlistadisciplinas()">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Lista de disciplinas cadastradas no banco</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn rounded dark color="transparent" elevation="0" @click="formularioinsercao = true">
                  <v-icon left>mdi-file-plus</v-icon>
                  Cadastrar disciplina
                </v-btn>

              </v-toolbar>

              <!-- INFO DISCIPLINAS -->
              <v-banner v-if="tabelas.length > 0" app single-line color="#762051" ripple>
                <v-card tile>
                  <v-tabs background-color="#762051" center-active dark>
                    <v-tab v-for="tabela in tabelas" :key="tabela" @click="listardisciplinas(tabela)">{{tabela}}
                    </v-tab>
                  </v-tabs>
                </v-card>
              </v-banner>
              <v-banner app single-line color="white" ripple>
                <v-icon color="#762051" slot="icon" size="36">
                  mdi-information
                </v-icon>
                Disciplinas encontradas: <strong>{{contar(listadisciplinas)}}</strong>
              </v-banner>
              <!-- INFO DISCIPLINAS -->


              <v-card elevation="0" color="#f8f8f8">
                <transition-group name="list" class="d-flex flex-wrap justify-center flex ma-10">
                  <v-card class="mx-auto mb-5" width="450" v-for="disciplina in listadisciplinas"
                    :key="disciplina.codigo_conteudo">
                    <v-list-item three-line>
                      <v-list-item-content>
                        <div class="overline">
                          {{disciplina.professor}}
                        </div>
                        <v-list-item-title class="headline">
                          {{disciplina.nome_disciplina}}
                        </v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-avatar tile size="auto" class="display-1">{{disciplina.codigo_conteudo}}
                      </v-list-item-avatar>
                    </v-list-item>

                    <!-- <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn class="mb-2" color="transparent" elevation="0">
                        <v-icon fab dark color="error">mdi-delete</v-icon>
                      </v-btn>
                    </v-card-actions> -->

                  </v-card>
                </transition-group>
              </v-card>

            </v-card>
          </v-dialog>
          <!-- LISTA DE DISCIPLINAS -->


          <!-- MONTAR SEMANA -->
          <v-dialog v-model="semana" fullscreen persistent transition="dialog-bottom-transition">

            <v-card>

              <v-toolbar elevation="0" dark color="#762051">
                <v-btn icon dark @click="semana = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Inserir frames da semana</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-col cols="3">
                  <v-select v-model="nometabela" @change="selecionartabela()" :items="tabelas" menu-props="auto"
                    :label="nometabela" hide-details prepend-icon="mdi-file-import-outline" single-line></v-select>
                </v-col>
              </v-toolbar>

              <v-banner app single-line color="#762051" ripple>
                <v-combobox append-icon="mdi-calendar-week" v-model="titulosemana" filled color="#762051"
                  :items="semanas" dark placeholder="DIGITE A SEMANA AQUI" clearable loading="#f8f8f8" flat hide-details
                  class="text-h4 pa-0"></v-combobox>
              </v-banner>

              <v-carousel :continuous="false" hide-delimiters progress progress-color="#762051"
                :height="windowHeight - 137">
                <v-sheet color="#f8f8f8">

                  <v-carousel-item v-for="disciplinas in disciplinassemana" :key="disciplinas.codigo_conteudo">
                    <v-row class="fill-height" align="center" justify="center">
                      <v-card width="800" light style="max-height: inherit;overflow: auto;position: relative">
                        <v-list-item three-line>
                          <v-list-item-content>

                            <div class="overline">
                              {{disciplinas.professor}}
                            </div>
                            <v-list-item-title class="headline mb-5">
                              {{disciplinas.nome_disciplina}}
                            </v-list-item-title>
                            <v-list-tile-sub-title class="v-card__subtitle">Digite o titulo e o frame e aperte no
                              botao
                              ou aperte a tecla
                              <strong>enter</strong>
                            </v-list-tile-sub-title>
                            <v-col cols="10">
                              <v-text-field prepend-inner-icon="mdi-format-title"
                                v-on:keyup.enter="montarvideos(disciplinas.codigo_conteudo)" v-model="video.titulo"
                                filled color="#762051" placeholder="Titulo do vídeo" hide-details flat
                                class="text-h6 pa-0"></v-text-field>
                            </v-col>
                            <v-col cols="10">
                              <v-text-field prepend-inner-icon="mdi-code-tags" type="number" v-model="video.frame"
                                v-on:keyup.enter="montarvideos(disciplinas.codigo_conteudo)" filled color="#762051"
                                placeholder="Código" hide-details flat class="text-h6 pa-0">
                              </v-text-field>
                            </v-col>
                            <v-list-item-action>
                              <v-btn @click="montarvideos(disciplinas.codigo_conteudo)" left text fab>
                                <v-icon>mdi-plus</v-icon>
                              </v-btn>
                            </v-list-item-action>
                          </v-list-item-content>

                          <v-list-item-avatar tile size="auto" class="display-2">{{disciplinas.codigo_conteudo}}
                          </v-list-item-avatar>

                        </v-list-item>

                        <!-- FRAMES CADASTRADOS -->
                        <v-expand-transition>
                          <div v-if="vervideos && contvideos(videos, disciplinas.codigo_conteudo) > 0 "
                            class="d-flex transition-fast-in-fast-out v-card--reveal display-3"
                            style="height: 100%;background-color: #762051;">

                            <v-list three-line width="90%" color="#762051" height="100%" overflow="auto"
                              style="padding-bottom: 30px;">
                              <v-subheader dark>Lista de videos cadastrados</v-subheader>
                              <template v-for="video in videos">
                                <template v-if="video.codigo_conteudo == disciplinas.codigo_conteudo">
                                  <v-list-item dark>
                                    <v-list-item-avatar>
                                      <v-icon>mdi-iframe</v-icon>
                                    </v-list-item-avatar>

                                    <v-list-item-content>
                                      <v-list-item-title class="text-h6">{{video.titulo}}</v-list-item-title>
                                      <v-list-item-subtitle>{{video.frame}}</v-list-item-subtitle>
                                      <div class="v-card__text">
                                        <iframe :src="'https://player.vimeo.com/video/' + video.frame" width="426"
                                          height="240" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                                          allowfullscreen></iframe>
                                      </div>
                                    </v-list-item-content>
                                    <v-icon @click='deletar({"frame": video.frame})'>mdi-delete</v-icon>
                                  </v-list-item>
                                  <v-divider color="white"></v-divider>
                                </template>
                              </template>
                            </v-list>

                          </div>
                        </v-expand-transition>
                        <!-- FRAMES CADASTRADOS -->

                        <!-- QTD DE FRAMES CADASTRADOS -->
                        <v-footer class="d-flex align-center justify-center">
                          <v-btn v-if="contvideos(videos, disciplinas.codigo_conteudo) > 0" height="20"
                            @click="vervideos = !vervideos" flat text>
                            <v-badge color="green" :content="contvideos(videos, disciplinas.codigo_conteudo)">
                              <v-icon v-if="!vervideos">mdi-menu-up-outline</v-icon>
                              <v-icon v-else>mdi-menu-down-outline</v-icon>
                            </v-badge>
                          </v-btn>
                        </v-footer>
                        <!-- QTD DE FRAMES CADASTRADOS -->

                      </v-card>
                    </v-row>
                  </v-carousel-item>
                </v-sheet>
              </v-carousel>

            </v-card>
          </v-dialog>
          <!-- MONTAR SEMANA -->



          <!-- APP BOTTOM -->
          <transition name="list">
            <v-app-bar elevation="0" v-if="appbar" dense :color="colorbar" fixed bottom>

              <v-spacer></v-spacer>

              <!-- MENU -->
              <v-btn v-if="menu && tabelas.length > 0" @click="carregarsemana(tabelas[0])" depressed dark large
                color="#762051">
                <v-icon left>mdi-iframe</v-icon>
                FRAMES
              </v-btn>
              <v-btn v-if="menu" @click="listardisciplinas(tabelas[0])" depressed dark large color="#762051">
                <v-icon left>mdi-file</v-icon>
                Disciplinas
              </v-btn>
              <v-speed-dial v-if="menu" v-model="fab" transition="scroll-x-reverse-transition">

                <template v-slot:activator>
                  <v-btn v-model="fab" depressed dark large color="#762051">
                    <v-icon left v-if="fab">
                      mdi-close
                    </v-icon>
                    <v-icon left v-else>
                      mdi-video
                    </v-icon>
                    Inserir
                  </v-btn>
                </template>

                <v-tooltip left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" fab dark color="#762051" @click="dialoginsercao = true">
                      <v-icon>mdi-animation-play</v-icon>
                    </v-btn>
                  </template>
                  <span>Conferir e iniciar inserção</span>
                </v-tooltip>

              </v-speed-dial>
              <!-- MENU -->


              <!-- BARRA DE PROGRESSO -->
              <v-progress-linear v-if="progresso" v-model="power" color="#762051" height="18" dark>
                <template v-if="logDisciplinas.length != disciplinas.length">
                  <strong>{{ logDisciplinas.length }} de {{disciplinas.length}}</strong>
                </template>
                <template v-else>
                  <strong>Completo</strong>
                </template>
              </v-progress-linear>
              <!-- BARRA DE PROGRESSO -->

            </v-app-bar>
          </transition>
          <!-- APP BOTTOM -->


          <!-- DIALOGO DE INSERCAO -->
          <v-dialog v-model="dialoginsercao" fullscreen hide-overlay transition="dialog-bottom-transition">

            <v-card color="#f8f8f8">

              <!-- SELECAO DA DISCIPLINAS -->
              <v-toolbar dark color="#762051">
                <v-btn icon dark @click="fechardialoginsercao()">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-col cols="3">
                  <v-select v-model="disciplinasselecionadas" :items="tabelas" placeholder="Selecionar disciplinas"
                    menu-props="auto" hide-details prepend-icon="mdi-file-import-outline" single-line
                    @change="montarsemanaparainsercao(nomesemana)"></v-select>
                </v-col>
                <v-spacer></v-spacer>
                <v-btn rounded dark color="transparent" elevation="0" @click="dialogconfirmarinsercao = true">
                  <v-icon left>mdi-play</v-icon>
                  Verificar para inserir
                </v-btn>
              </v-toolbar>
              <!-- SELECAO DA DISCIPLINAS -->

              <!-- SELECAO DA SEMANA -->
              <v-banner v-if="semanas.length > 0" app single-line color="#762051" ripple>
                <v-card tile>
                  <v-tabs background-color="#762051" center-active dark>
                    <v-tab v-for="semana in semanas" :key="semana" @click="montarsemanaparainsercao(semana)">{{semana}}
                    </v-tab>
                  </v-tabs>
                </v-card>
              </v-banner>
              <!-- SELECAO DA SEMANA -->


              <!-- INFO DISCIPLINAS -->
              <v-banner app single-line color="white" ripple>
                <v-icon color="#762051" slot="icon" size="36">
                  mdi-information
                </v-icon>
                Disciplinas encontradas: <strong>{{contar(disciplinas)}}</strong>
                <br>
                Videos a serem processados: <strong>{{contarvideos(disciplinas,false)}}</strong>
                <br>
                Disciplinas sem videos: <strong>{{contarvideos(disciplinas,true)}}</strong>
              </v-banner>
              <!-- INFO DISCIPLINAS -->

              <!-- DISCIPLINAS MONTADAS -->
              <v-card color="#f8f8f8" elevation="0">
                <transition-group name="list" class="d-flex flex-wrap justify-center flex ma-10">
                  <v-card class="mx-auto mb-5" width="500" v-for="disciplina in disciplinas"
                    :key="disciplina.codigo_conteudo">

                    <v-list-item three-line>
                      <v-list-item-content>
                        <div class="overline">
                          {{disciplina.professor}}
                        </div>
                        <v-list-item-title class="headline">
                          {{disciplina.nome_disciplina}}
                        </v-list-item-title>

                        <div class="v-card__text" @click="verlistadevideos(disciplina.videos)">
                          <v-chip v-if="disciplina.videos.length > 0">
                            <v-avatar left>
                              {{ contar(disciplina.videos) }}
                            </v-avatar>
                            Videos
                          </v-chip>
                          <v-chip v-else color="error">
                            <v-avatar left>
                              0
                            </v-avatar>
                            Videos
                          </v-chip>
                        </div>

                      </v-list-item-content>

                      <v-list-item-avatar tile size="auto" class="display-1">{{disciplina.codigo_conteudo}}
                      </v-list-item-avatar>
                    </v-list-item>
                  </v-card>
                </transition-group>
              </v-card>
              <!-- DISCIPLINAS MONTADAS -->

            </v-card>
          </v-dialog>

          <!-- DIALOGO DE INSERCAO -->

          <!-- VER VIDEOS -->

          <v-dialog v-model="dialogvervideos" scrollable max-width="550" max-height="600">
            <v-card>
              <v-card-title id="titulo" style="color: #762051;">Videos</v-card-title>
              <v-stepper v-model="e6" vertical>
                <template v-for="(video, index) in listadevideos">

                  <v-stepper-step :step="index" editable color="#762051">
                    <template v-if="video.titulo != ''">
                      {{video.titulo}}
                    </template>
                    <template v-else>
                      VIDEO {{index+1}}
                    </template>
                  </v-stepper-step>

                  <v-stepper-content :step="index">
                    <v-card tile flat class="mb-12" height="240">
                      <iframe :src="'https://player.vimeo.com/video/' + video.frame" width="426" height="240"
                        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

                    </v-card>
                  </v-stepper-content>

                </template>
              </v-stepper>
            </v-card>
          </v-dialog>

          <!-- VER VIDEOS -->

          <!-- CONFIRMACAO DE INSERCAO -->

          <v-dialog v-model="dialogconfirmarinsercao" scrollable max-width="800">
            <v-card color="white" max-height="600" style="overflow: auto;" class="pa-4">
              <v-toolbar app flat tile>
                <h6 id="titulo" class="text-h6" style="color: #762051;">{{nomesemana}}</h6>

                <v-spacer></v-spacer>
                <v-btn v-if="nomesemana != '' && listaconfiguracoescadastradas.length > 0 && contar(disciplinas) > 0"
                  rounded dark color="#762051" elevation="0" @click="iniciar()">
                  <v-icon left>mdi-play</v-icon>
                  Iniciar
                </v-btn>
              </v-toolbar>

              <v-banner app single-line color="white" ripple class="mb-5">
                <v-icon color="#762051" slot="icon" size="36">
                  mdi-information
                </v-icon>
                <br>
                Disciplinas encontradas: <strong>{{contar(disciplinas)}}</strong> |
                Videos a serem processados: <strong>{{contarvideos(disciplinas,false)}}</strong> |
                Disciplinas sem videos: <strong>{{contarvideos(disciplinas,true)}}</strong>
              </v-banner>

              <template>
                <v-expansion-panels inset focusable>
                  <v-expansion-panel v-for="(disciplina,i) in disciplinas" :key="i">
                    <v-expansion-panel-header>{{disciplina.nome_disciplina}}</v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <template>


                        <v-sheet class="mx-auto">
                          <v-slide-group class="pa-4" active-class="success" show-arrows>
                            <v-slide-item v-for="video in disciplina.videos" :key="n" v-slot="{ active, toggle }">
                              <v-card class="ma-4" @click="toggle" tile flat>

                                <v-card-title primary-title>
                                  <template v-if="video.titulo != ''">
                                    {{video.titulo}}
                                  </template>
                                  <template v-else>
                                    Sem titulo
                                  </template>
                                </v-card-title>
                                <v-card-text>

                                  <iframe :src="'https://player.vimeo.com/video/' + video.frame" width="426"
                                    height="240" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                                    allowfullscreen></iframe>
                                </v-card-text>


                              </v-card>
                            </v-slide-item>
                          </v-slide-group>
                        </v-sheet>


                      </template>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </template>
            </v-card>
          </v-dialog>

          <!-- CONFIRMACAO DE INSERCAO -->

        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="index.js"></script>

  <style>
    @font-face {
      font-family: neuro;
      src: url("fonts/neuropol-x-bold-2.ttf");
    }

    html {
      overflow-y: auto;
    }

    #titulo {
      font-family: "neuro" !important;
      color: #5B525E;
    }


    .list-leave-active {
      transition: all 0.1s;
    }

    .list-enter-active {
      transition: all 1s;

    }

    .list-enter

    /* .list-leave-active below version 2.1.8 */
      {
      opacity: 0;
      transform: translateY(30px);
    }

    .list-leave-to {
      opacity: 0;
      transform: translateY(-30px);
    }

    /* .list-leave-active {
      position: absolute;
    } */

    .v-card--reveal {
      align-items: center;
      bottom: 0;
      justify-content: center;
      position: absolute;
      opacity: 0.97;
      width: 100%;
      overflow: auto;
    }


    /* width */
    ::-webkit-scrollbar {
      width: 5px;
      background: #762051;

    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 50%;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #470e2e;
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #470e2e;
    }
  </style>
</body>

</html>