<!DOCTYPE html>
<html>

<head>
  <title>AutoSEI</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <!-- Include eel.js - note this file doesn't exist in the 'web' directory -->
  <script type="text/javascript" src="/eel.js"></script>
  </script>

<body>
  <div id="app" style="display: none;">
    <v-app>
      <v-main>
        <v-container fill-height fluid>

          <!-- ALERTA -->

          <!-- <v-alert v-model="alert.on" dense outlined :type="alert.type" transition="fade-transition" dismissible>
            {{alert.message}}
          </v-alert> -->

          <v-snackbar v-model="alert.on" :color="alert.color">
            <v-icon left>{{alert.type}}</v-icon>
            {{alert.message}}
            <template v-slot:action="{ attrs }">
              <v-btn text v-bind="attrs" fab small @click="alert.on = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </template>
          </v-snackbar>

          <!-- ALERTA -->

          <!-- RELATORIO FINAL -->
          <v-dialog overlay-color="#762051" overlay-opacity="0.25" v-model="dialogRelatorio" persistent max-width="500">
            <v-card>

              <v-toolbar flat color="#762051" dark>
                <v-icon large left>mdi-check-bold</v-icon>Inserção finalizada com sucesso
              </v-toolbar>
              <v-card-text>
                <v-list v-for="dadosr in dadosrelatorio">
                  <v-subheader>Relatório</v-subheader>
                  <v-list-item-group v-model="selectedItem" color="primary">
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-format-list-text</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Disciplina(s)
                          processadas: <b style="color: #762051;">{{dadosr.totaldisciplinas}}</b></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-animation-play-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Video(s) processados: <b style="color: #762051;">{{dadosr.totalvideos}}</b>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-format-list-checks</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Disciplina(s)
                          inseridas: <b style="color: #762051;">{{dadosr.totalDinseridas}}</b></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-video-off-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title>Disciplina(s) sem videos: <b style="color: #762051;">{{dadosr.faltam}}</b>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                      <v-list-item-icon>
                        <v-icon color="#762051">mdi-clock-outline</v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title><b style="color: #762051;">{{dadosr.tempo}}</b></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="#762051" text @click="fecharRelatorio()">
                  Ok
                </v-btn>
              </v-card-actions>

            </v-card>
          </v-dialog>
          <!-- RELATORIO FINAL -->


          <!-- CONTEUDO -->
          <v-row align="center" justify="center" fluid fill-height>
            <v-col cols=10 align="center">

              <!-- LOGOTIPO -->
              <transition name="list">
                <v-banner outlined="false" style="z-index: 100;" app single-line color="white" v-if="titulo">
                  <h1 class="text-h2" id="titulo"><b style="color: #762051;">AUTO</b>SEI </h1>
                </v-banner>
              </transition>
              <br>
              <!-- LOGOTIPO -->

              <!-- TIME LINE -->
              <transition name="list">
                <v-timeline v-if="timeline">
                  <transition-group name="list">
                    <v-timeline-item v-for="logDisciplina in logDisciplinas" :key="logDisciplina.codigo" small>
                      <template v-slot:icon>
                        <v-avatar v-if="logDisciplina.video == true" color="#762051">
                          <v-icon dark>mdi-video-outline</v-icon>
                        </v-avatar>
                        <v-avatar v-else color="error">
                          <v-icon dark>mdi-video-off-outline</v-icon>
                        </v-avatar>
                      </template>
                      <template v-slot:opposite>
                        <span>{{logDisciplina.nome}}</span>
                      </template>
                      <v-card class="elevation-2">

                        <v-card-title class="headline">
                          {{logDisciplina.disciplina}}
                        </v-card-title>

                        <v-card-text>

                          <v-list dense>

                            <v-subheader>
                              <transition name="list">
                                <div v-for="semana in semanainserida" :key="semana.codigo"
                                  v-if="semana.codigo == logDisciplina.codigo">
                                  <template v-if="semana.inserida == true">
                                    SEMANA JÁ INSERIDA
                                  </template>
                                  <template v-else-if="semana.inserida == false && logDisciplina.video == true">
                                    INSERINDO VIDEOS
                                  </template>
                                </div>

                                <div v-if="logDisciplina.video == false">
                                  VIDEOS INDISPONIVEIS
                                </div>
                              </transition>
                            </v-subheader>


                            <transition-group name="list">
                              <v-list-item-group v-for="logVideo in logVideos" :key="logVideo" color="primary">
                                <v-list-item v-if="logVideo.codigo == logDisciplina.codigo">
                                  <v-list-item-icon>
                                    <v-icon color="success">mdi-video-check</v-icon>
                                  </v-list-item-icon>
                                  <v-list-item-content class="text-left">
                                    <v-list-item-title>{{logVideo.titulo}}</v-list-item-title>
                                  </v-list-item-content>
                                </v-list-item>
                              </v-list-item-group>
                            </transition-group>
                          </v-list>

                        </v-card-text>
                      </v-card>
                    </v-timeline-item>
                  </transition-group>
                </v-timeline>
              </transition>
              <!-- TIME LINE -->



              <!-- <template>
                <v-timeline>
                  <v-timeline-item v-for="n in 4" :key="n" small>
                    <template v-slot:icon>
                      <v-avatar color="error">
                        <v-icon dark>mdi-video-outline</v-icon>
                      </v-avatar>
                    </template>
                    <template v-slot:opposite>
                      <span>Tus eu perfecto</span>
                    </template>
                    <v-card class="elevation-2">
                      <v-card-title class="headline">
                        Lorem ipsum
                      </v-card-title>
                      <v-card-text>

                        <v-list dense>
                          <v-subheader>VIDEOS</v-subheader>
                          <v-list-item-group color="primary">
                            <v-list-item>
                              <v-list-item-icon>
                                <v-icon color="success">mdi-video-check</v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left">
                                <v-list-item-title>teste</v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                              <v-list-item-icon>
                                <v-icon color="success">mdi-video-check</v-icon>
                              </v-list-item-icon>
                              <v-list-item-content class="text-left">
                                <v-list-item-title>teste</v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                      </v-card-text>
                    </v-card>
                  </v-timeline-item>
                </v-timeline>
              </template> -->

            </v-col>
          </v-row>
          <!-- CONTEUDO -->


          <!-- FORMULARIO -->

          <template>
            <v-row justify="center">
              <v-dialog v-model="formularioinsercao" overlay-color="#762051" overlay-opacity="0.25" persistent
                max-width="600px">
                <v-card>

                  <v-toolbar flat color="#762051" dark>
                    <v-icon large left>mdi-file-plus</v-icon>Cadastrar disciplina
                  </v-toolbar>

                  <v-card-text>
                    <v-container>
                      <v-row>

                        <v-col cols="12" sm="12" md="12">
                          <v-text-field label="Nome disciplina" v-model="camposDisciplina.nome_disciplina" required>
                          </v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                          <v-text-field type="number" label="Código disciplina"
                            v-model="camposDisciplina.codigo_disciplina" required>
                          </v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                          <v-text-field type="number" label="Codigo de conteudo"
                            hint="Este codigo é importante, nao erre!" v-model="camposDisciplina.codigo_conteudo"
                            persistent-hint required></v-text-field>
                        </v-col>

                        <v-col cols="12">
                          <v-text-field number label="Nome do professor" v-model="camposDisciplina.professor" required>
                          </v-text-field>
                        </v-col>

                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="#762051" text @click="formularioinsercao = false">
                      Fechar
                    </v-btn>
                    <v-btn color="#762051" text @click="inserirdisciplinas()">
                      Salvar
                    </v-btn>
                  </v-card-actions>
                  <!-- {{mensagemDisciplina}} -->
                </v-card>
              </v-dialog>
            </v-row>
          </template>
          <!-- FORMULARIO -->


          <!-- LISTA DE DISCIPLINAS -->
          <v-dialog v-model="dialoglistadisciplinas" fullscreen hide-overlay transition="dialog-bottom-transition">

            <v-card color="#f8f8f8">

              <v-toolbar dark color="#762051">
                <v-btn icon dark @click="limparlistadisciplinas()">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Lista de disciplinas cadastradas no banco</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn rounded dark color="transparent" elevation="0" @click="formularioinsercao = true">
                  <v-icon left>mdi-file-plus</v-icon>
                  Cadastrar disciplina
                </v-btn>
              </v-toolbar>

              <!-- INFO DISCIPLINAS -->
              <v-banner app single-line color="white" ripple>
                <v-icon color="#762051" slot="icon" size="36">
                  mdi-information
                </v-icon>
                Disciplinas encontradas: <strong>{{contar(listadisciplinas)}}</strong>
              </v-banner>
              <!-- INFO DISCIPLINAS -->


              <v-card elevation="0" color="#f8f8f8">
                <transition-group name="list" class="d-flex flex-wrap justify-center flex ma-10">
                  <v-card class="mx-auto mb-5" width="450" v-for="disciplina in listadisciplinas"
                    :key="disciplina.codigo_conteudo">
                    <v-list-item three-line>
                      <v-list-item-content>
                        <div class="overline">
                          {{disciplina.professor}}
                        </div>
                        <v-list-item-title class="headline">
                          {{disciplina.nome_disciplina}}
                        </v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-avatar tile size="60" class="display-2">{{disciplina.codigo_conteudo}}
                      </v-list-item-avatar>
                    </v-list-item>

                    <!-- <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn class="mb-2" color="transparent" elevation="0">
                        <v-icon fab dark color="error">mdi-delete</v-icon>
                      </v-btn>
                    </v-card-actions> -->

                  </v-card>
                </transition-group>
              </v-card>

            </v-card>
          </v-dialog>
          <!-- LISTA DE DISCIPLINAS -->


          <!-- MONTAR SEMANA -->
          <v-dialog v-model="semana" fullscreen persistent transition="dialog-bottom-transition">

            <v-card >

              <v-toolbar elevation="0" dark color="#762051">
                <v-btn icon dark @click="semana = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Inserir semana</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click="inserirvideossemana()" text>
                  <v-icon>mdi-play</v-icon>
                </v-btn>
              </v-toolbar>

              <v-banner app single-line color="#762051" ripple>
                <v-text-field v-model="titulosemana" filled color="#762051" dark placeholder="DIGITE A SEMANA AQUI"
                  hide-details loading="#f8f8f8" flat class="text-h4 pa-0"></v-text-field>
              </v-banner>

              <v-carousel :continuous="false" hide-delimiters progress progress-color="#762051" :height="windowHeight - 137">
                <v-sheet color="#f8f8f8">

                  <v-carousel-item v-for="disciplinas in disciplinassemana" :key="disciplinas.codigo_conteudo">
                    <v-row class="fill-height" align="center" justify="center">
                      <v-card width="800" light style="max-height: inherit;overflow: auto;position: relative">
                        <v-list-item three-line>
                          <v-list-item-content>

                            <div class="overline">
                              {{disciplinas.professor}}
                            </div>
                            <v-list-item-title class="headline mb-5">
                              {{disciplinas.nome_disciplina}}
                            </v-list-item-title>

                            <v-col cols="10">
                              <v-text-field v-on:keyup.enter="montarvideos(disciplinas.codigo_conteudo)"
                                v-model="video.titulo" filled color="#762051" placeholder="Titulo do vídeo" hide-details
                                flat class="text-h6 pa-0"></v-text-field>
                            </v-col>
                            <v-col cols="10">
                              <v-text-field type="number" v-model="video.frame"
                                v-on:keyup.enter="montarvideos(disciplinas.codigo_conteudo)" filled color="#762051"
                                placeholder="Código" hide-details flat class="text-h6 pa-0">
                              </v-text-field>
                            </v-col>
                            <v-list-item-action>
                              <v-btn @click="montarvideos(disciplinas.codigo_conteudo)" left text fab>
                                <v-icon>mdi-plus</v-icon>
                              </v-btn>
                            </v-list-item-action>
                          </v-list-item-content>

                          <v-list-item-avatar tile size="60" class="display-2">{{disciplinas.codigo_conteudo}}
                          </v-list-item-avatar>

                        </v-list-item>
                        <v-expand-transition>
                          <div v-if="vervideos" class="d-flex transition-fast-in-fast-out v-card--reveal display-3"
                            style="height: 100%;background-color: #762051;">



                            <v-list three-line width="90%" color="#762051" height="100%" overflow="auto">
                              <v-subheader dark>Lista de videos cadastrados</v-subheader>
                              <template v-for="video in videos">
                                <template v-if="video.codigo_conteudo == disciplinas.codigo_conteudo">
                                  <v-list-item dark>
                                    <v-list-item-avatar>
                                      <v-icon>mdi-video-outline</v-icon>
                                    </v-list-item-avatar>

                                    <v-list-item-content>
                                      <v-list-item-title>{{video.titulo}}</v-list-item-title>
                                      <v-list-item-subtitle>{{video.frame}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                    <v-icon @click="deletarvideosemana(video.frame)">mdi-delete</v-icon>
                                  </v-list-item>
                                  <v-divider color="white"></v-divider>
                                </template>
                              </template>

                            </v-list>

                          </div>
                        </v-expand-transition>
                        <v-footer class="d-flex align-center justify-center">
                          <v-btn height="20" @click="vervideos = !vervideos" flat text>
                            <v-icon v-if="!vervideos">mdi-menu-up-outline</v-icon>
                            <v-icon v-else>mdi-menu-down-outline</v-icon>
                            {{contvideos(videos, disciplinas.codigo_conteudo)}}
                          </v-btn>
                        </v-footer>
                      </v-card>
                    </v-row>
                  </v-carousel-item>
                </v-sheet>
              </v-carousel>

            </v-card>
          </v-dialog>
          <!-- MONTAR SEMANA -->



          <!-- APP BOTTOM -->
          <transition name="list">
            <v-app-bar elevation="0" v-if="appbar" dense :color="colorbar" fixed bottom>

              <v-spacer></v-spacer>

              <!-- MENU -->
              <v-btn v-if="menu" @click="carregarsemana()" depressed dark large color="#762051">
                <v-icon left>mdi-file</v-icon>
                SEMANA
              </v-btn>
              <v-btn v-if="menu" @click="listardisciplinas()" depressed dark large color="#762051">
                <v-icon left>mdi-file</v-icon>
                Disciplinas
              </v-btn>
              <v-speed-dial v-if="menu" v-model="fab" transition="scroll-x-reverse-transition">
                <template v-slot:activator>
                  <v-btn v-model="fab" depressed dark large color="#762051">
                    <v-icon left v-if="fab">
                      mdi-close
                    </v-icon>
                    <v-icon left v-else>
                      mdi-video
                    </v-icon>
                    Inserir
                  </v-btn>
                </template>
                <v-tooltip left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" fab dark color="#762051">
                      <v-icon>mdi-play-box</v-icon>
                    </v-btn>
                  </template>
                  <span>Inserir disciplina especifica</span>
                </v-tooltip>
                <v-tooltip left>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn v-bind="attrs" v-on="on" fab dark color="#762051" @click="carregardisciplinas">
                      <v-icon>mdi-animation-play</v-icon>
                    </v-btn>
                  </template>
                  <span>Inserir tudo</span>
                </v-tooltip>
              </v-speed-dial>
              <!-- MENU -->


              <!-- BARRA DE PROGRESSO -->
              <v-progress-linear v-if="progresso" v-model="power" color="#762051" height="18" dark>
                <template v-if="logDisciplinas.length != disciplinas.length">
                  <strong>{{ logDisciplinas.length }} de {{disciplinas.length}}</strong>
                </template>
                <template v-else>
                  <strong>Completo</strong>
                </template>
              </v-progress-linear>
              <!-- BARRA DE PROGRESSO -->

            </v-app-bar>
          </transition>
          <!-- APP BOTTOM -->


          <!-- DIALOGO DE CONFIG DE DISCIPLINAS -->
          <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">

            <v-card color="#f8f8f8">

              <v-toolbar dark color="#762051">
                <v-btn icon dark @click="dialog = false">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Configurações "{{configuracoes.semana}}"</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn rounded dark color="transparent" elevation="0" @click="iniciar('Sim')">
                  <v-icon left>mdi-play</v-icon>
                  iniciar
                </v-btn>
              </v-toolbar>

              <!-- INFO DISCIPLINAS -->
              <v-banner app single-line color="white" ripple>
                <v-icon color="#762051" slot="icon" size="36">
                  mdi-information
                </v-icon>
                Disciplinas encontradas: <strong>{{contar(disciplinas)}}</strong>
                <br>
                Videos a serem processados: <strong>{{contarvideos(disciplinas,false)}}</strong>
                <br>
                Disciplinas sem videos: <strong>{{contarvideos(disciplinas,true)}}</strong>
              </v-banner>
              <!-- INFO DISCIPLINAS -->


              <v-card color="#f8f8f8" elevation="0" class="d-flex flex-wrap justify-center flex ma-10">
                <v-card class="mx-auto mb-5" width="500" v-for="disciplina in disciplinas"
                  :key="disciplina.codigo_conteudo">
                  <v-card-title primary-title>
                    {{ disciplina.nome_disciplina }}
                  </v-card-title>
                  <v-card-subtitle>
                    {{ disciplina.professor }}
                  </v-card-subtitle>
                  <v-card-text>
                    <v-chip v-if="disciplina.videos[0].frame != ''">
                      <v-avatar left>
                        {{ contar(disciplina.videos) }}
                      </v-avatar>
                      Videos
                    </v-chip>
                    <v-chip v-else color="error">
                      <v-avatar left>
                        0
                      </v-avatar>
                      Videos
                    </v-chip>
                  </v-card-text>
                </v-card>
              </v-card>

            </v-card>
          </v-dialog>
          <!-- DIALOGO DE CONFIG DE DISCIPLINAS -->




        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="index.js"></script>

  <style>
    @font-face {
      font-family: neuro;
      src: url("fonts/neuropol-x-bold-2.ttf");
    }

    html {
      overflow-y: auto;
    }

    #titulo {
      font-family: "neuro" !important;
      color: #5B525E;
    }

    .list-enter-active,
    .list-leave-active {
      transition: all 1s;
    }

    .list-enter

    /* .list-leave-active below version 2.1.8 */
      {
      opacity: 0;
      transform: translateY(30px);
    }

    .list-leave-to {
      opacity: 0;
      transform: translateY(-30px);
    }

    .v-card--reveal {
      align-items: center;
      bottom: 0;
      justify-content: center;
      position: absolute;
      opacity: 0.97;
      width: 100%;
      overflow: auto;
    }
  </style>
</body>

</html>